<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">CURSO</th>
            <th scope="col">CARGA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Linguagem Java</td>
            <td>40 Horas</td>
        </tr>
        <tr>
            <td>Linguagem HTML</td>
            <td>50 Horas</td>
        </tr>
        <tr>
            <td>Linguagem C</td>
            <td>60 Horas</td>
        </tr>
        <tr>
            <td>Linguagem Python</td>
            <td>40 Horas</td>
        </tr>
        <tr>
            <td>Linguagem Ruby</td>
            <td>50 Horas</td>
        </tr>
    </tbody>
</table>